- root = current_user.root_directory

#js-tree.tree{data: {source: {id: 0}, destination: {id: 0}, url: tree_directory_path}}
  %ul.list-unstyled
    %li.tree-item.tree-item--children-rendered{data: {id: root.id, depth: root.depth}}
      %span.glyphicon.glyphicon-home
    = render 'tree_item', directories: root.children
