%ul.list-inline
  %li
    = link_to [:new, :directory, parent_id: @directory.id], class: 'btn btn-primary', id: 'btn-new-folder' do
      %span.glyphicon.glyphicon-plus
      %span.glyphicon.glyphicon-folder-close
      新規フォルダ
  %li
    = link_to [:new, @directory, :fileitem], class: 'btn btn-primary' do
      %span.glyphicon.glyphicon-plus
      %span.glyphicon.glyphicon-file
      新規ファイル

%hr.invisible

= render 'breadcrumb', directory: @directory

- if @directory.children.empty? && @directory.files.empty?
  .text-muted
    データがありません
- else
  = render 'table'
