%h1
  = @directory.name

%hr.invisible

- if @directory.children.empty? && @directory.files.empty?
  .text-muted
    データが存在しません
- else
  - @directory.children.each do |child_directory|
    %table.table.table-responsive
      %tr
        %td
          %span.glyphicon.glyphicon-folder-open
            = link_to child_directory.name, public_sub_directory_path(child_directory)
  - @directory.files.each do |file|
    %table.table.table-responsive
      %tr
        %td
          %span.glyphicon.glyphicon-file
            = link_to file.name, public_download_sub_directory_file_path(@directory, file_id: file.id)
